<app-top-bar></app-top-bar>
<div class="open-div">
  <h1>Restaurant Name</h1>
</div>
<div class="main-content">
  <div class="search-div2">

    <input class="input3" type="text" placeholder="What are you craving for?">
    <button class="search-btn"><i class="bi bi-search"></i></button>
</div>
  <div class="food-list-row">

    <mat-card class="food-card" routerLink='/restaurants-list'>
      <mat-card-header>
      </mat-card-header>
      <img matCardImage
        src="https://cn-geo1.uber.com/image-proc/resize/eats/format=webp/width=550/height=440/quality=70/srcb64=aHR0cHM6Ly9kMXJhbHNvZ25qbmczNy5jbG91ZGZyb250Lm5ldC9kODhmZWE3Ny1iZTExLTQwMWEtOGJkNS00ZDZiMTRmMzlhMTguanBlZw==">
      <mat-card-content>
        <p>Large Chips</p>
        <p>Ghc56.50</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="food-card" routerLink='/restaurants-list'>
      <mat-card-header>
      </mat-card-header>
      <img matCardImage
        src="https://cn-geo1.uber.com/image-proc/resize/eats/format=webp/width=550/height=440/quality=70/srcb64=aHR0cHM6Ly9kMXJhbHNvZ25qbmczNy5jbG91ZGZyb250Lm5ldC81NmFkZmNkZC0yOGJhLTQ2ZDgtYmMxYy0yODUzMzc3NzQ2MzE=">
      <mat-card-content>
        <p>Large Chips</p>
        <p>Ghc56.50</p>
      </mat-card-content>
    </mat-card>
    <mat-card class="food-card" routerLink='/restaurants-list'>
      <mat-card-header>
      </mat-card-header>
      <img matCardImage
        src="https://cn-geo1.uber.com/image-proc/resize/eats/format=webp/width=550/height=440/quality=70/srcb64=aHR0cHM6Ly9kMXJhbHNvZ25qbmczNy5jbG91ZGZyb250Lm5ldC9kODhmZWE3Ny1iZTExLTQwMWEtOGJkNS00ZDZiMTRmMzlhMTguanBlZw==">
      <mat-card-content>
        <p>Large Chips</p>
        <p>Ghc56.50</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="food-card" routerLink='/restaurants-list'>
      <mat-card-header>
      </mat-card-header>
      <img matCardImage
        src="https://cn-geo1.uber.com/image-proc/resize/eats/format=webp/width=550/height=440/quality=70/srcb64=aHR0cHM6Ly9kMXJhbHNvZ25qbmczNy5jbG91ZGZyb250Lm5ldC81NmFkZmNkZC0yOGJhLTQ2ZDgtYmMxYy0yODUzMzc3NzQ2MzE=">
      <mat-card-content>
        <p>Large Chips</p>
        <p>Ghc56.50</p>
      </mat-card-content>
    </mat-card>
    <mat-card class="food-card" routerLink='/restaurants-list'>
      <mat-card-header>
      </mat-card-header>
      <img matCardImage
        src="https://cn-geo1.uber.com/image-proc/resize/eats/format=webp/width=550/height=440/quality=70/srcb64=aHR0cHM6Ly9kMXJhbHNvZ25qbmczNy5jbG91ZGZyb250Lm5ldC9kODhmZWE3Ny1iZTExLTQwMWEtOGJkNS00ZDZiMTRmMzlhMTguanBlZw==">
      <mat-card-content>
        <p>Large Chips</p>
        <p>Ghc56.50</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="food-card" routerLink='/restaurants-list'>
      <mat-card-header>
      </mat-card-header>
      <img matCardImage
        src="https://cn-geo1.uber.com/image-proc/resize/eats/format=webp/width=550/height=440/quality=70/srcb64=aHR0cHM6Ly9kMXJhbHNvZ25qbmczNy5jbG91ZGZyb250Lm5ldC81NmFkZmNkZC0yOGJhLTQ2ZDgtYmMxYy0yODUzMzc3NzQ2MzE=">
      <mat-card-content>
        <p>Large Chips</p>
        <p>Ghc56.50</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="food-card" routerLink='/restaurants-list'>
      <mat-card-header>
      </mat-card-header>
      <img matCardImage
        src="https://cn-geo1.uber.com/image-proc/resize/eats/format=webp/width=550/height=440/quality=70/srcb64=aHR0cHM6Ly9kMXJhbHNvZ25qbmczNy5jbG91ZGZyb250Lm5ldC9kODhmZWE3Ny1iZTExLTQwMWEtOGJkNS00ZDZiMTRmMzlhMTguanBlZw==">
      <mat-card-content>
        <p>Large Chips</p>
        <p>Ghc56.50</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="food-card" routerLink='/restaurants-list'>
      <mat-card-header>
      </mat-card-header>
      <img matCardImage
        src="https://cn-geo1.uber.com/image-proc/resize/eats/format=webp/width=550/height=440/quality=70/srcb64=aHR0cHM6Ly9kMXJhbHNvZ25qbmczNy5jbG91ZGZyb250Lm5ldC81NmFkZmNkZC0yOGJhLTQ2ZDgtYmMxYy0yODUzMzc3NzQ2MzE=">
      <mat-card-content>
        <p>Large Chips</p>
        <p>Ghc56.50</p>
      </mat-card-content>
    </mat-card>
    <mat-card class="food-card" routerLink='/restaurants-list'>
      <mat-card-header>
      </mat-card-header>
      <img matCardImage
        src="https://cn-geo1.uber.com/image-proc/resize/eats/format=webp/width=550/height=440/quality=70/srcb64=aHR0cHM6Ly9kMXJhbHNvZ25qbmczNy5jbG91ZGZyb250Lm5ldC9kODhmZWE3Ny1iZTExLTQwMWEtOGJkNS00ZDZiMTRmMzlhMTguanBlZw==">
      <mat-card-content>
        <p>Large Chips</p>
        <p>Ghc56.50</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="food-card" routerLink='/restaurants-list'>
      <mat-card-header>
      </mat-card-header>
      <img matCardImage
        src="https://cn-geo1.uber.com/image-proc/resize/eats/format=webp/width=550/height=440/quality=70/srcb64=aHR0cHM6Ly9kMXJhbHNvZ25qbmczNy5jbG91ZGZyb250Lm5ldC81NmFkZmNkZC0yOGJhLTQ2ZDgtYmMxYy0yODUzMzc3NzQ2MzE=">
      <mat-card-content>
        <p>Large Chips</p>
        <p>Ghc56.50</p>
      </mat-card-content>
    </mat-card>
    <mat-card class="food-card" routerLink='/restaurants-list'>
      <mat-card-header>
      </mat-card-header>
      <img matCardImage
        src="https://cn-geo1.uber.com/image-proc/resize/eats/format=webp/width=550/height=440/quality=70/srcb64=aHR0cHM6Ly9kMXJhbHNvZ25qbmczNy5jbG91ZGZyb250Lm5ldC9kODhmZWE3Ny1iZTExLTQwMWEtOGJkNS00ZDZiMTRmMzlhMTguanBlZw==">
      <mat-card-content>
        <p>Large Chips</p>
        <p>Ghc56.50</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="food-card" routerLink='/restaurants-list'>
      <mat-card-header>
      </mat-card-header>
      <img matCardImage
        src="https://cn-geo1.uber.com/image-proc/resize/eats/format=webp/width=550/height=440/quality=70/srcb64=aHR0cHM6Ly9kMXJhbHNvZ25qbmczNy5jbG91ZGZyb250Lm5ldC81NmFkZmNkZC0yOGJhLTQ2ZDgtYmMxYy0yODUzMzc3NzQ2MzE=">
      <mat-card-content>
        <p>Large Chips</p>
        <p>Ghc56.50</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="food-card" routerLink='/restaurants-list'>
      <mat-card-header>
      </mat-card-header>
      <img matCardImage
        src="https://cn-geo1.uber.com/image-proc/resize/eats/format=webp/width=550/height=440/quality=70/srcb64=aHR0cHM6Ly9kMXJhbHNvZ25qbmczNy5jbG91ZGZyb250Lm5ldC9kODhmZWE3Ny1iZTExLTQwMWEtOGJkNS00ZDZiMTRmMzlhMTguanBlZw==">
      <mat-card-content>
        <p>Large Chips</p>
        <p>Ghc56.50</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="food-card" routerLink='/restaurants-list'>
      <mat-card-header>
      </mat-card-header>
      <img matCardImage
        src="https://cn-geo1.uber.com/image-proc/resize/eats/format=webp/width=550/height=440/quality=70/srcb64=aHR0cHM6Ly9kMXJhbHNvZ25qbmczNy5jbG91ZGZyb250Lm5ldC81NmFkZmNkZC0yOGJhLTQ2ZDgtYmMxYy0yODUzMzc3NzQ2MzE=">
      <mat-card-content>
        <p>Large Chips</p>
        <p>Ghc56.50</p>
      </mat-card-content>
    </mat-card>
    <mat-card class="food-card" routerLink='/restaurants-list'>
      <mat-card-header>
      </mat-card-header>
      <img matCardImage
        src="https://cn-geo1.uber.com/image-proc/resize/eats/format=webp/width=550/height=440/quality=70/srcb64=aHR0cHM6Ly9kMXJhbHNvZ25qbmczNy5jbG91ZGZyb250Lm5ldC9kODhmZWE3Ny1iZTExLTQwMWEtOGJkNS00ZDZiMTRmMzlhMTguanBlZw==">
      <mat-card-content>
        <p>Large Chips</p>
        <p>Ghc56.50</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="food-card" routerLink='/restaurants-list'>
      <mat-card-header>
      </mat-card-header>
      <img matCardImage
        src="https://cn-geo1.uber.com/image-proc/resize/eats/format=webp/width=550/height=440/quality=70/srcb64=aHR0cHM6Ly9kMXJhbHNvZ25qbmczNy5jbG91ZGZyb250Lm5ldC81NmFkZmNkZC0yOGJhLTQ2ZDgtYmMxYy0yODUzMzc3NzQ2MzE=">
      <mat-card-content>
        <p>Large Chips</p>
        <p>Ghc56.50</p>
      </mat-card-content>
    </mat-card>
    <mat-card class="food-card" routerLink='/restaurants-list'>
      <mat-card-header>
      </mat-card-header>
      <img matCardImage
        src="https://cn-geo1.uber.com/image-proc/resize/eats/format=webp/width=550/height=440/quality=70/srcb64=aHR0cHM6Ly9kMXJhbHNvZ25qbmczNy5jbG91ZGZyb250Lm5ldC9kODhmZWE3Ny1iZTExLTQwMWEtOGJkNS00ZDZiMTRmMzlhMTguanBlZw==">
      <mat-card-content>
        <p>Large Chips</p>
        <p>Ghc56.50</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="food-card" routerLink='/restaurants-list'>
      <mat-card-header>
      </mat-card-header>
      <img matCardImage
        src="https://cn-geo1.uber.com/image-proc/resize/eats/format=webp/width=550/height=440/quality=70/srcb64=aHR0cHM6Ly9kMXJhbHNvZ25qbmczNy5jbG91ZGZyb250Lm5ldC81NmFkZmNkZC0yOGJhLTQ2ZDgtYmMxYy0yODUzMzc3NzQ2MzE=">
      <mat-card-content>
        <p>Large Chips</p>
        <p>Ghc56.50</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="food-card" routerLink='/restaurants-list'>
      <mat-card-header>
      </mat-card-header>
      <img matCardImage
        src="https://cn-geo1.uber.com/image-proc/resize/eats/format=webp/width=550/height=440/quality=70/srcb64=aHR0cHM6Ly9kMXJhbHNvZ25qbmczNy5jbG91ZGZyb250Lm5ldC9kODhmZWE3Ny1iZTExLTQwMWEtOGJkNS00ZDZiMTRmMzlhMTguanBlZw==">
      <mat-card-content>
        <p>Large Chips</p>
        <p>Ghc56.50</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="food-card" routerLink='/restaurants-list'>
      <mat-card-header>
      </mat-card-header>
      <img matCardImage
        src="https://cn-geo1.uber.com/image-proc/resize/eats/format=webp/width=550/height=440/quality=70/srcb64=aHR0cHM6Ly9kMXJhbHNvZ25qbmczNy5jbG91ZGZyb250Lm5ldC81NmFkZmNkZC0yOGJhLTQ2ZDgtYmMxYy0yODUzMzc3NzQ2MzE=">
      <mat-card-content>
        <p>Large Chips</p>
        <p>Ghc56.50</p>
      </mat-card-content>
    </mat-card>
    <mat-card class="food-card" routerLink='/restaurants-list'>
      <mat-card-header>
      </mat-card-header>
      <img matCardImage
        src="https://cn-geo1.uber.com/image-proc/resize/eats/format=webp/width=550/height=440/quality=70/srcb64=aHR0cHM6Ly9kMXJhbHNvZ25qbmczNy5jbG91ZGZyb250Lm5ldC9kODhmZWE3Ny1iZTExLTQwMWEtOGJkNS00ZDZiMTRmMzlhMTguanBlZw==">
      <mat-card-content>
        <p>Large Chips</p>
        <p>Ghc56.50</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="food-card" routerLink='/restaurants-list'>
      <mat-card-header>
      </mat-card-header>
      <img matCardImage
        src="https://cn-geo1.uber.com/image-proc/resize/eats/format=webp/width=550/height=440/quality=70/srcb64=aHR0cHM6Ly9kMXJhbHNvZ25qbmczNy5jbG91ZGZyb250Lm5ldC81NmFkZmNkZC0yOGJhLTQ2ZDgtYmMxYy0yODUzMzc3NzQ2MzE=">
      <mat-card-content>
        <p>Large Chips</p>
        <p>Ghc56.50</p>
      </mat-card-content>
    </mat-card>
    <mat-card class="food-card" routerLink='/restaurants-list'>
      <mat-card-header>
      </mat-card-header>
      <img matCardImage
        src="https://cn-geo1.uber.com/image-proc/resize/eats/format=webp/width=550/height=440/quality=70/srcb64=aHR0cHM6Ly9kMXJhbHNvZ25qbmczNy5jbG91ZGZyb250Lm5ldC9kODhmZWE3Ny1iZTExLTQwMWEtOGJkNS00ZDZiMTRmMzlhMTguanBlZw==">
      <mat-card-content>
        <p>Large Chips</p>
        <p>Ghc56.50</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="food-card" routerLink='/restaurants-list'>
      <mat-card-header>
      </mat-card-header>
      <img matCardImage
        src="https://cn-geo1.uber.com/image-proc/resize/eats/format=webp/width=550/height=440/quality=70/srcb64=aHR0cHM6Ly9kMXJhbHNvZ25qbmczNy5jbG91ZGZyb250Lm5ldC81NmFkZmNkZC0yOGJhLTQ2ZDgtYmMxYy0yODUzMzc3NzQ2MzE=">
      <mat-card-content>
        <p>Large Chips</p>
        <p>Ghc56.50</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>

