
<app-top-bar></app-top-bar>
<main class="main">
  <div class="bg"> </div>
  <div class="container_1">
    <div class="welcome-c">
      <div class="text-left-c">
        <div>
          <h6>Best Food In Town</h6>
          <h1>Delivery Food From the Best Restaurnts.</h1>
        </div>

          <div class="mat-form-search">
            <input class="search-input" type="text" placeholder="Food and Restaurants...">
            <button routerLink='/restaurants-list' class="search-btn" type="button">Search</button>
          </div>
      </div>
      <div class="img-right-c">
        <img class="food3" src="https://res.cloudinary.com/dg6egbqfn/image/upload/v1631971706/kudigo-assets/styles/images/food3_hxsdt0.png" alt="">
        <img class="food1" src="https://res.cloudinary.com/dg6egbqfn/image/upload/v1631971665/kudigo-assets/styles/images/food1_utoxyw.png" alt="">
        <img class="food2" src="https://res.cloudinary.com/dg6egbqfn/image/upload/v1631971689/kudigo-assets/styles/images/food2_bjoul1.png" alt="">

      </div>
    </div>
    <div class="social-c">
      <span><a href=""><i class="bi bi-twitter"></i></a></span>
      <span><a href=""><i class="bi bi-facebook"></i></a></span>
      <span><a href=""><i class="bi bi-instagram"></i></a></span>
    </div>
  </div>

  <div class="container_2">
    <div class="text-left">
      <h1 class="premium-title">Unlimited free delivery—only for Unlimited members</h1>
      <p>With Chop Beta Unlimited, you get free delivery with no blitz pricing or small cart fees—ever.
        Try it free with a 7-day free trial, cancel anytime.</p>
      <div>
        <button class="trial-btn" type="button">Try Unlimited for free </button>
      </div>
    </div>
    <div class="img-right">
      <img src="https://d3i4yxtzktqr9n.cloudfront.net/web-eats-v2/acd742dd7b60b9b0ce8bb0a2660489e1.jpg" alt="">
    </div>
  </div>
  <div id="map" class="container_3">
    <div class="map-top-header-container">
      <h2 class="cities-near">Cities near me</h2>
      <a class="view-cities" href="">View All Cities</a>
    </div>
    <div class="map-container"></div>
    <div class="cities-container">
      <div class="row-1">
        <div class="col-sm">
          <div>
            <p>Accra</p>
          </div>
          <div>
            <p>Tema</p>
          </div>
          <div>
            <p>Cape Coast</p>
          </div>
          <div>
            <p>Madina</p>
          </div>
          <div>
            <p>Spintex</p>
          </div>
          <div>
            <p>Ashiaman</p>
          </div>
        </div>
        <div class="col-sm">
          <div>
            <p>Takoradi</p>
          </div>
          <div>
            <p>Wa</p>
          </div>
          <div>
            <p>Chaang</p>
          </div>
          <div>
            <p>Kaleo</p>
          </div>
          <div>
            <p>Sunyani</p>
          </div>
          <div>
            <p>Bolgatanga</p>
          </div>
        </div>
        <div class="col-sm">
          <div>
            <p>Tamale</p>
          </div>
          <div>
            <p>Bole</p>
          </div>
          <div>
            <p>Kumasi</p>
          </div>
          <div>
            <p>Obuasi</p>
          </div>
          <div>
            <p>East Legon</p>
          </div>
          <div>
            <p>Wenniba</p>
          </div>
        </div>
        <div class="col-sm">
          <div>
            <p>Ho</p>
          </div>
          <div>
            <p>Techiman</p>
          </div>
          <div>
            <p>Ejura</p>
          </div>
          <div>
            <p>Walewale</p>
          </div>
          <div>
            <p>Lawra</p>
          </div>
          <div>
            <p>Kintampo</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>


